@model MeyawoPortfolio.Models.TblSocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Sosyal Medya Güncelleme Sayfası</h2>
<form method="post">
    <label>Sosyal Medya Id</label>
    <input type="text" class="table table-bordered" value="@Model.SocialMediaID" name="SocialMediaID" />
    <br />
    <label>Sosyal Medya Adı</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <br />
    <label>Sosyal Medya Linki</label>
    <input type="text" class="table table-bordered" value="@Model.SocialMediaUrl" name="SocialMediaUrl" />
    <br />
    <label>Sosyal Medya İkonu</label>
    <input type="text" class="table table-bordered" value="@Model.Icon" name="Icon" />
    <br />
    <button class="btn btn-info">Sosyal Medyayı Güncelle</button>
</form>
