<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Template/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Template/sidebar-09/images/logo.jpg);"></div>
            <h3>@ViewBag.van</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Dashboard/Index/"><img src="~/Template/sidebar-09/images/dashboard_icon.svg"> Dashboard</a>
        </li>
        <li>
            <a href="~/Template/sidebar-09/images/Resume_CV_Format_Download-6.pdf" download="Resume_CV_Format_Download-6.pdf"><img src="~/Template/sidebar-09/images/download_icon.svg">  Cv'mi İndir</a>
        </li>
        <li>
            <a href="/Category/Index/"><img src="~/Template/sidebar-09/images/category-icon.svg">  Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><img src="~/Template/sidebar-09/images/projects_icon.svg">  Projelerim</a>
        </li>
        <li>
            <a href="/About/Index/"><img src="~/Template/sidebar-09/images/about_icon.svg">  Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index/"><img src="~/Template/sidebar-09/images/features_icon.svg">  Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Sercive/Index/"><img src="~/Template/sidebar-09/images/service_icon.svg">  Hizmetlerim</a>
        </li>
        <li>
            <a href="/SocialMedia/Index/"><img src="~/Template/sidebar-09/images/socialmedia_icon.svg">  Sosyal Medya</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><img src="~/Template/sidebar-09/images/comment_icon.svg">  Referanslar</a>
        </li>
        <li>
            <a href="/Default/Index/"><img src="~/Template/sidebar-09/images/play_icon.svg">  Siteyi Aç</a>
        </li>
        <li>
            <a href="#"><img src="~/Template/sidebar-09/images/exit_icon.svg">  Çıkış Yap</a>
        </li>
    </ul>
</nav>
