@model List<MeyawoPortfolio.Models.TblCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Kategori Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Name</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
   @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryID</th>
            <th>@item.CategoryName</th>
            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<td><a href="/Category/CreateCategory" class="btn btn-primary">Yeni Kategori Girişi</a></td>
