@model MeyawoPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Referans Ekleme Sayfası</h2>

<form method="post">
    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table-bordered" })
    <br />
    <label>Görsel Linki</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
    <br />
    <label>Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "table table-bordered" })
    <br />
    <label>Açıklama</label>
<textarea rows="5" class="table table-bordered"></textarea>
    <br />
    <button class="btn btn-info">Referansı Ekle</button>
</form>


